body {
    display: grid;
    place-items: center;
    background: black;
}
.image {
    border-color: blue;
    border-style: solid;
    border-radius: 100px;
    border-width: 5px;
    margin: 17px;
}
.Nadpis {
    color: crimson;
    background-color: beige;
}